#enrolmentTable tbody tr {
	height: 30px;
}

#enrolmentTable tbody tr td, thead th {
	width: 20%;
	text-align: center;
	font-size: 1.15rem;
	font-weight: normal;
	padding: 5px;
}

#tblHeading td {
	
	color: royalblue;
	padding: 5px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
	label {display: none}
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }




